#header {
    background-color:lightsteelblue;
    text-align:center;
    font-family:Arial;
    color:lightslategrey;
    line-height:50px;
    height:90px;
    padding:10px;
}

#nav {
    background-color:lavender;
    text-align:center;
    font-size:10px;
    color:lightgrey;
    line-height:5px;
    height:40px;
    padding:5px;          
}

#section {
    background-color:lightsteelblue;
    text-align:center;
    height:1000px;
    padding:5px;
    
}

p {
  font-family:Arial;
  color: lightslategrey;
}

