#header {
    background-color:darkblue;
    color:white;
    text-align:center;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:lightblue;
    height:100px;
    width:100px;
    padding:5px;          
}

h2 {
  color: blue;
}

p {
  font-family: Arial;
  color: purple;
}

