#header {
    background-color:darkblue;
    text-align:center;
    color:white;
    line-height:50px;
    height:90px;
    width:1500px;
    padding:10px;
}

#nav {
    background-color:lightblue;
    text-align:center;
    line-height:20px;
    height:60px;
    width:1200px;
    padding:5px;          
}

h2 {
  color: blue;
}

p {
  font-family: Arial;
  color: purple;
}

