#header {
    background-color:darkblue;
    text-align:center;
    color:white;
    height:70px;
    width:1500px;
    padding:5px;
}

#nav {
    line-height:30px;
    background-color:lightblue;
    text-align:center;
    height:30px;
    width:1200px;
    padding:5px;          
}

h2 {
  color: blue;
}

p {
  font-family: Arial;
  color: purple;
}

