#header {
    background-color:darkblue;
    text-align:center;
    color:white;
    line-height:50px;
    height:90px;
    padding:10px;
}

#nav {
    background-color:lightblue;
    text-align:center;
    line-height:5px;
    height:40px;
    padding:5px;          
}

#section {
    background-color:lightsteelblue;
    text-align:center;
    height:1000px;
    padding:5px;
    
}

p {
  font-family: Arial;
  color: purple;
}

